<!-- HEADER -->
<header id="header">	
    <!-- Top header bar -->
    <div id="trueHeader"> 
        <div class="wrapper"> 
            <div class="container">    
            <!-- Logo -->
            <div class="one_fourth">
                <a id="logo" [routerLink]="['/home']"></a> 
            </div>		
            <!-- Menu -->            
            <div class="three_fourth last"> <nav id="access" role="navigation" class="access"> 
                <div id="menu" class="menu"> 
                  <ul id="tiny"> 
                    <li><a class="active" [routerLink]="['/home']"> <i class="fa fa-home"></i> Home</a></li> 
                    <li><a [routerLink]="['/about']"> <i class="fa fa-pagelines"></i> About Us</a></li> 
                    <li><a [routerLink]="['/services']"> <i class="fa fa-files-o"></i> Products</a></li>
                    <li><a [routerLink]="['/jobseeker-register']"> <i class="fa fa-picture-o"></i> industries</a></li> 
                    <li><a [routerLink]="['/career']"> <i class="fa fa-comment"></i> Career</a></li>
                    <!-- <li><a href="jobseeker-register.html"> <i class="fa fa-picture-o"></i> industries</a></li> 
                    <li><a href="jobseeker-register.html"> <i class="fa fa-comment"></i> Career</a></li> -->
                    <li class="last"><a [routerLink]="['/contact']"> <i class="fa fa-phone"></i> Contact Us</a></li> 
                  </ul> 
                </div> </nav><!-- end nav menu -->
            </div> 
          </div> 
        </div> 
    </div> 
</header>
<!-- end header -->