<!-- HEADER -->
<header id="header">	
    <!-- Top header bar -->
    <div id="trueHeader"> 
        <div class="wrapper"> 
            <div class="container">    
            <!-- Logo -->
            <div class="one_fourth">
                <a id="logo" [routerLink]="['/home']"></a> 
            </div>		
            <!-- Menu -->            
            <div class="three_fourth last"> <nav id="access" role="navigation" class="access"> 
                <div id="menu" class="menu"> 
                  <ul id="tiny"> 
                    <li><a class="active" [routerLink]="['/home']"> Home</a></li> 
                    <li><a [routerLink]="['/about']"> About Us</a></li> 
                    <li><a [routerLink]="['/services']"> Products</a></li> 
                    <li><a [routerLink]="['/jobseeker-register']"> industries</a></li> 
                    <li><a [routerLink]="['/jobseeker-register']"> Career</a></li> 
                    <!-- <li><a href="jobseeker-register.html"> industries</a></li> 
                    <li><a href="jobseeker-register.html"> Career</a></li> -->
                    <li class="last"><a [routerLink]="['/contact']"> Contact Us</a></li> 
                  </ul> 
                </div> </nav><!-- end nav menu -->
            </div> 
          </div> 
        </div> 
    </div> 
</header>
<!-- end header -->