<!-- Footer Start -->
<div class="footer"> 
    <div class="container"> 
        <div class="clearfix mar_top4"></div> 
        <div class="one_fourth"> <h2>NRG <i>Indonesia</i></h2> 
            <ul class="contact_address"> 
                <li>&nbsp; Gedung TIFA Lantai 2 Unit 3
                            Jalan</li> 
                <li>&nbsp; Kuningan Barat Seattle, No. 26
                            12710<br />&nbsp; Jakarta Selatan,</li> 
                <li>&nbsp; (021) 5292 2285 </li> 
                <li>&nbsp;&nbsp;<a href="http://www.nrgtechnology.com/">www.nrgtechnology.com</a></li> 
                <li><img alt="" src="./assets/images/footer-wmap.png" /></li> 
            </ul> 
        </div><!-- end address section -->
		
        <div class="one_fourth"> <h2>NRG <i>Malaysia</i></h2> 
            <ul class="contact_address"> 
                <li>&nbsp;TKS Business Centre, Suite 10-3A,</li> 
                <li>&nbsp;WISMA TKSS,206, Jalan Segambut, <br />&nbsp;51200 Kuala Lumpur,</li> 
                <li>&nbsp;603-6258 5877 * 2/3 </li> 
                <li>&nbsp;contactus@neotural.com </li> 
                <li><img alt="" src="./assets/images/footer-wmap.png" /></li> 
            </ul> 
        </div><!-- end tweets -->
        
        <div class="one_fourth"> <h2>NRG <i>India</i></h2> 
            <ul class="contact_address"> 
                <li>&nbsp;37,Victoria Press Road,<br />&nbsp;SF Building,Nagercoil-629 001</li> 
                <li>&nbsp;+91 4652 403986 </li> 
                <li>&nbsp;contactus@neotural.com</li> 
                <li><img alt="" src="./assets/images/footer-wmap.png" /></li> 
            </ul> 
        </div><!-- end useful links -->  
             
      
      
        <div class="one_fourth last"> <h2>NRG <i>UAE</i></h2> 
            <ul class="contact_address"> 
                <li>&nbsp;Po Box : 514650,<br />&nbsp;Sharjah,UAE-25793</li> 
                <li>&nbsp;+971 52591 1172</li> 
                <li>&nbsp;contactus@neotural.com</li> 
                <li><img alt="" src="./assets/images/footer-wmap.png" /></li> 
            </ul> 
        </div> 

        <div class="clearfix mar_top4"></div> 
    </div> 
    <div class="copyright_info"> 
        <div class="container"> 
            <div class="one_half"> <b>Copyright © 2014 neotural.com. All rights reserved.  </b> </div> 
            <div class="one_half last"> 
                <ul class="footer_social_links"> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                    <li><a href="#">&nbsp;</a></li> 
                </ul> 
            </div> 
        </div> 
    </div><!-- end copyright info -->
    <a class="scrollup" (click)="goTop()">Scroll</a><!-- end scroll to top of the page-->
    <!-- style switcher -->
</div> 
<!-- Footer End -->