<app-detailsheader></app-detailsheader>

<div class="clearfix"></div>
<div class="page_title">
	<div class="container">
		<div class="title"><h1>About US</h1></div>
        <div class="pagenation">&nbsp;<a [routerLink]="['/home']">Home</a> <i>/</i> About Page</div>
	</div>
</div><!-- end page title --> 

<div class="container">
	<div class="content_fullwidth">
	    <h2 style="text-align: center;">About Our <strong> Company!</strong></h2>
        <p style="text-align: center;">NRG Group of Companies is a global software solution provider with specific attention to Education and Inventory by setting the goal to simplify the complexity. NRG as a IT services provider has 17 years of corporate excellence around the world. We believe in our people and strive to enable the growth of our clients business. Our solutions enable our clients business to grow and we enable ourselves with the best industry standard technology and practices. Our overall process includes information management and application services, including development, integration, testing and support.</p>    
        <div class="clearfix mar_top2"></div>
        <div class="big_text1" style="text-align: center;">Never doubt that<i> A Small Group Of Thoughtful,</i> committed people can change the world.</div>
        <div class="clearfix divider_line2"></div>
       
		<div class="one_full">
            <h2 style="text-align: center;">Inno<strong>vative</strong></h2>
            <br/>
            <div class="one_third">
                <ul class="fullimage_box2">
                    <li><i class="fa fa-desktop fa-3x"></i></li>
                    <li><br/></li>
                    <li>The individuals, who introduce the new idea to the organisation, integrate and make their own creative contribution to the process that indicates the innovation. </li>
                </ul>
            
            </div><!-- end section -->
        
            <div class="one_third">
                <ul class="fullimage_box2">
                    <li><i class="fa fa-cloud-upload fa-3x"></i></li>
                    <li><br/></li>
                    <li>We are harnessing the new technology to create breakthrough applications and solutions to mean innovative processes, ideas and answers that were impossible before.    </li>
                </ul>
            </div><!-- end section -->
        
            <div class="one_third last">
                <ul class="fullimage_box2">
                    <li><i class="fa fa-cog fa-3x"></i></li>
                    <li><br/></li>
                    <li>To be innovative we encourage our employees to find out the new ideas from our skilled and experienced expertise where as offer chances to the fresher.    </li>
                </ul>
            </div><!-- end section -->
  
        </div><!-- end section -->
	
	    <div class="clearfix divider_line2"></div>
        <ul class="fullimage_box">
            <li><h2>Who <strong>We Are</strong></h2></li>
            <li><img src="./assets/images/site-img27.jpg" alt="" /></li>
            <li style="text-align:center">We are one of the very best at what we do by getting our customer-satisfaction records. We are not a huge yet have the ability to make a solution for the problem that will benefit our clients' by functionally and financially in the short and long terms. </li>    
        </ul><!-- end section -->
        
        <ul class="fullimage_box last">
            <li><h2>What <strong>We Do</strong></h2></li>
            <li><img src="./assets/images/site-img28.jpg" alt="" /></li>
            <li style="text-align:center">NRG is recognized as an international standard focus for its innovative approach by simplifies the complexity and delivering business value according to the commitments. We are focused on engaging long-term association with our clients and becoming attractive IT solution rather than just advisor and consultants. </li>    
        </ul><!-- end section -->
        
        <div class="clearfix"></div>
    </div>
</div><!-- end content area -->

<div class="clearfix mar_top4"></div>

<!-- Footer Calling -->
<app-footer></app-footer>