<app-detailsheader></app-detailsheader>

<div class="clearfix"></div>
<div class="page_title">

	<div class="container">
		<div class="title"><h1>Services</h1></div>
        <div class="pagenation">&nbsp;<a [routerLink]="['/home']">Home</a> <i>/</i> Services</div>
	</div>
</div><!-- end page title --> 


<!-- Content Start -->
<div class="container">
    <div class="content_left">            
        <div class="blog_post">	
            <div class="blog_postcontent">
                <div class="image_frame small"><a><img src="./assets/images/erp.jpg" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a class="date"><strong>1</strong><i>ERP</i></a>
                    <h3><a>Enterprise Resource Planning </a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i><a>Purchasing</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i><a>Manufacturing</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i><a>Marketing</a></li>
                    </ul>
                    
                    <div class="clearfix"></div>
                    
                    <p>Our ERP system is already integrated with core business processes in real time across different departments.</p>
                    <p>We provide solutions using high end technology. We have a solution for every need of your business, customization being our strength.</p>
            
                </div>
            </div>
        </div><!-- /# end post -->
        
                    
        <div class="clearfix divider_line3"></div>
                
        <div class="blog_post">	
            <div class="blog_postcontent">
            
                <div class="post_info_content_small">
                    <a class="date"><strong>2</strong><i>IMS</i></a>
                    <h3><a>Inventory Management System </a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a>Time</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i><a>Buffer stock</a> </li>
                        <li class="post_comments"><i class="fa fa-comments"></i><a>Work in progress inventory</a> </li>
                    </ul>
                        
                    <div class="clearfix"></div>
                    
                    <p>Inventory Management System includes asset management, visibility of the stock, forecasting the future price of goods, quality management, demand forecasting, and return of the goods.</p>
                    <br/>
                    <p><b>'We are passionate about our system that enables your business growth'.</b></p>
                
                </div>
                <div class="image_frame small"><a><img src="./assets/images/blog/blog-img20.jpg" alt="" /></a></div>
            </div>
        </div><!-- /# end post -->
        
        <div class="clearfix divider_line3"></div>
                
        <div class="blog_post">	
            <div class="blog_postcontent">
                <div class="image_frame small"><a><img src="./assets/images/itc.jpg" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a class="date"><strong>3</strong><i>IT</i></a>
                    <h3><a>IT Consulting </a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a>Layout</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a>Structure</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a>Formatting</a></li>
                    </ul>
                     
                     <div class="clearfix"></div>
                    
                    <p>We are experienced and talented with a variety of enterprise business processes and software that we have created as a great solution for your business. </p>
                    <br/>
                    <p><b>We provide consultancy with the best IT solutions.</b></p>
                    
                </div>
            </div>
        </div><!-- /# end post -->
                
        <div class="clearfix divider_line3"></div>
        
        <div class="blog_post">	
            <div class="blog_postcontent">
                <div class="post_info_content_small">
                    <a class="date"><strong>4</strong><i>OBS</i></a>
                    <h3><a>Online Business Solutions </a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a>Design</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a>Development</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a>Marketing</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>Our partners trust our solution for their online business. </p><p>We provide search engine optimize, online newsletters, and all of your online needs.</p>
                </div>
                <div class="image_frame small"><a><img src="./assets/images/obs.jpg" alt="" /></a></div>
            </div>
        </div><!-- /# end post -->
                
               
        <div class="clearfix divider_line3"></div>
                
        <div class="blog_post">	
            <div class="blog_postcontent">
                <div class="image_frame small"><a><img src="./assets/images/mms.jpg" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a class="date"><strong>5</strong><i>MMS</i></a>
                    <h3><a>Manufacturing Management System </a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a>Production </a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a>Expense Control</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a>Inventory Control</a></li>
                    </ul>
                     
                    <div class="clearfix"></div>
                    <p> The Manufacturing Management System system is  our own enabler to organizations that have production flow, (i.e) the processing of raw materials into semi-finished goods or finished goods.</p><p> We thrive to simplify everything that is complex.</p> 
                </div>
            </div>
        </div><!-- /# end post -->
                
        <div class="clearfix divider_line3"></div>
                
        <div class="blog_post">	
            <div class="blog_postcontent">
                    
                <div class="post_info_content_small">
                    <a class="date"><strong>6</strong><i>SMS</i></a>
                    <h3><a>Student Monitoring System </a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Teacher</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Student</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">Parents</a></li>
                    </ul>
                     
                    <div class="clearfix"></div>
                    
                    <p> We support the education industry to support and simplify the process of education by automating everything that transacts between the school authority, teachers, parents and students.</p>
                </div>
                <div class="image_frame small"><a><img src="./assets/images/sms1.jpg" alt="" /></a></div>
            </div>
        </div><!-- /# end post -->
    </div><!-- end content left side area -->
</div>
<!-- Content End -->

<div class="clearfix mar_top4"></div>

<!-- Footer Calling -->
<app-footer></app-footer>